<h1>Aplicacion Chat con Socket IO</h1>

<div>
    <input type="text" id="inputChat">
    <button id="butttonChat">Submit</button>
</div>

<div>
    <p id="parrafoMensaje">Ingrese un nombre de Usuario</p>
</div>


